
:root{
-cor-de-fundo: #F5F5F5;
--cor-de-link: #000;
}

*{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
}

html{
    font-size: 62.5%;
}

body {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    /* border: solid seagreen; */
    width: 100%;
    height: auto;
}

.menu__header{
    /* background-color: aqua; */
    width: 100%;
    height: auto;
    padding: 17px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.menu__header h3{
    margin-left: 9px;
}

.menu__header li{
    margin-left: 29px;
}

.menu__header img{
    width: 18px;
    height: 18px;   
}

.main-nav{
    display: none;
}

/*Sección Title*/
section.title{
    /* border: solid fuchsia; */
    display: flex;
    padding: 16px;
}

.title__profile{
    width: 98px;
    height: 98px;
}

/* .title__container{
    border:  solid purple 1px;
} */

.title__container h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.1rem;
    text-align: justify;
}

.title__subsection{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: justify;
}

.title__network{
    /* border:  solid orange 1px; */
    padding-left: 0px;
}

.title__network li{
    display: inline;
    /* margin: 0 6px 0 0; */
    margin-right: 15px;
    font-weight: 600;
}

/*Sección About*/

section.about{
    border: solid fuchsia 1px;
    padding: 16px;
}

.about__container h3{
    font-size: 2.2rem;
    font-weight: 700;
}

.about__paragraph{
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--cor-de-link);
}

.about__container img{
    width: 140px;
    height: 52px;
}


/*Sección Hobbies*/

section.hobbies{
    
}

/* Experiencia Académica*/

section.academic{

}

/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{

}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

/*Contacto*/

/*Footer*/

}